[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gdal = "==2.4.2"
geopandas = "*"
aiohttp = "*"
aiodns = "*"
python-dotenv = "*"
aiofiles = "*"
requests-toolbelt = "*"
tqdm = "*"
clint = "*"

[dev-packages]
black = "*"
mapbox-tilesets = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
